$text: #27300f;
$orange: #d26a22;
$white: #fff;
.header {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__list {
		display: flex;
		list-style-type: none;
		margin: 0;
		padding-left: 0;
		gap: 48px;
	}
	&__tel {
		font-size: 16px;
		color: $text;
		text-decoration: none;
		&:hover {
			color: $orange;
		}
	}
	&__cart {
		width: 40px;
		height: 40px;
		display: block;
		border-radius: 100%;
		background-color: $orange;
		background-image: url(/src/images/cart.svg);
		background-size: 17px 15px;
		background-position: center center;
		background-repeat: no-repeat;
		position: relative;
	}
	&__counter {
		font-size: 8px;
		color: $white;
		position: absolute;
		top: 10px;
		right: 8px;
	}
}

.nav__link {
	font-size: 16px;
	color: $text;
	text-decoration: none;
	&:hover {
		color: $orange;
	}
}
.logo {
	background-image: url(/src/images/logo__svg.svg);
	display: block;
	width: 123px;
	height: 32px;
	background-repeat: no-repeat;
	background-size: cover;
}
